<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>


<p>
  <b>Categories:</b>
  <% @area.categories.each do |category| %>
      <br /><%= category.name %>
  <% end %>
</p>

<p><strong>Add a new Category:</strong></p>
<%= form_for @category do |f| %>
    <%= f.hidden_field :area_id, :value => @area.id %>
    <%= f.label :name %>: <%= f.text_field :name %> <br />
    <%= f.submit 'Add Category' %>
<% end %>

<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
<td><%= button_to "Delete", @area, :class => "button", :method => :delete %></td>