<!DOCTYPE html>
<html>
<head>
  <title>Khayalamu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<tr>
  <td><%= link_to "Areas", areas_path %></td>
  <td><%= link_to "Categories", categories_path %></td>
  <td><%= link_to "Restauramts", restaurants_path %></td>
</tr>
<%= yield %>

</body>
</html>
